/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

@font-face {
    font-family: Ferrum;
    src: url(Ferrum.otf);
}

body {
    font-family: Ferrum;
    color: black;
    text-align: center;
    margin: 0;
}

.main-content {
    margin: 0 auto;
    width: 720px;
}

#hero {
    background-image: url("images/MHW-ASTERA.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    height: 400px;
    border-radius: 0px;
    padding: 150px 0 50px 0;
    margin-bottom: 0;
}

h1 {
    color: #ffffff;
    text-shadow: 2px 1px 2px #1d3557;
    background: #ffffff;
    background: rgb(29, 53, 87);
    background: radial-gradient(circle, rgba(29, 53, 87, 1) 8%, rgba(0, 0, 0, 0) 100%, rgba(255, 255, 255, 1) 100%);
    height: 42px;
    width: 225px;
    border-radius: 10px;
    text-align: center;
    margin: 0 auto;
}

h2 {
    font-weight: 700;
    font-size: 25px;
    color: #1d3557;
    height: 70px;
    width: 400px;
    border-radius: 10px;
    text-align: center;
    align-items: center;
}

#activity-title {
    font-size: 30px;
    font-weight: 700;
    color: #1d3557;
    text-shadow: 2px 1px 2px #ffffff;
    background: rgb(29, 53, 87);
    background: radial-gradient(circle, rgba(29, 53, 87, 1) 8%, rgba(0, 0, 0, 0) 100%, rgba(255, 255, 255, 1) 100%);
    width: 725px;
    padding-bottom: 5px;
    border-radius: 20px;
    text-align: center;
    margin: 20px auto 0 auto;
}


.hero-text {
    width: 600px;
    height: 35px;
    color: #ffffff;
    text-shadow: 2px 1px 2px #1d3557;
    background: rgb(29, 53, 87);
    background: rgb(29, 53, 87);
    background: radial-gradient(circle, rgba(29, 53, 87, 1) 8%, rgba(0, 0, 0, 0) 100%, rgba(255, 255, 255, 1) 100%);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.hover-suggest {
    color: #ffffff;
    text-shadow: 2px 1px 2px #1d3557;
    background: radial-gradient(circle, rgba(29, 53, 87, 1) 8%, rgba(0, 0, 0, 0) 100%, rgba(255, 255, 255, 1) 100%);
}

#activities {

    align-items: center;
    height: 500px;
    width: 720px;
    margin: 0 auto;
}

.activity-card {
    margin: 0 auto;
    height: 431PX;
    width: 720px;
}

#activity-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}


.activity-img {
    border: 5px outset #1d3557;
    border-radius: 100%;
    height: 300px;
    width: 350px;
}

#hero-img {
    border: 5px solid #ffffff;
    height: 720px;

}

#guide-section {
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

}

h2,
p {
    margin: 0 auto;
}

h4 {
    text-shadow: 1px 1px 2px #ffffff;
}

.guide-container {
    height: 300px;
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1d3557;
    background-image: linear-gradient(#00000000, #1d3557);
    border-radius: 10px;
    padding: 0 10px;
    margin: 0 auto;
    border: 5px solid #1d3557;
    border-style: unset;
}

#guide-text {
    width: 200px;
    color: #ffffff;
    text-shadow: 1px 1px 2px #1d3557;
}

.guide-img {
    border: 5px outset #1d3557;
    border-radius: 100%;
    height: 260px;
    width: 240px;
}



.zoom:hover {
    transition: transform 0.5s;
    transform: scale(2.0);

}